body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
}

.imx-widget-canvas {
    width: 100%;
    height: 100%;
    /*width: 800px;*/
    /*height: 600px;*/
}
